<main id="fase-form-main">
        <h1> Nueva Fase de Obra </h1>

        <div class="proyecto-form-data"> 
            <form id="fase-form" action="/pages/crear-fase/{{id}}" method="post">
                <div class="reg-field">
                    <input type="text" id="registro-Nombre-Proyecto" placeholder="Nombre de la fase" name="nombre_fase"><label for="registro-Nombre-Proyecto">Nombre de la Fase</label>
                </div>
                <div class="reg-field">
                    <input type="date" id="registro-FechaIni-Proyecto" placeholder="Fecha de Inicio" name="fechaInicio_fase"><label for="registro-FechaIni-Proyecto">Fecha de Inicio</label>
                </div>
                <div class="reg-field">
                    <input type="date" id="registro-FechaFin-Proyecto" placeholder="Fecha de Fin" name="fechaFin_fase"><label for="registro-FechaFin-Proyecto">Fecha de Fin</label>
                </div>      
                <input type="submit" value="Registrar Fase" id="btn-registrar-fase">          
            </form>
        </div>

    </main>