<main>
        <h1> Proyecto - {Algo}</h1>

        <div class="proyecto-detalles"> 
            <div class="proyecto-detalles-info">
                <p><b>Fecha Inicio:</b> dd/mm/yyyy</p>
                <p><b>Fecha Fin:</b> dd/mm/yyyy</p>
                <p><b>Costo Total:</b> $ 1 000 000.00</p>
                <p><b>Estado:</b> En curso</p>       
            </div>            
            <div class="proyecto-detalles-ubicacion">
                <p><b>Ubicación:</b> Muy muy lejano</p>
                <a href="#"><img src="../images/mapa.png" alt="Buscar en Google Maps" ></a>
            </div>            
        </div>

        <div class="proyecto-fases">
            <h2>Fases de Proyecto-{Algo}</h2>

            <table>
                <thead>
                    <tr>
                        <th> Nombre</th>
                        <th> Fecha Inicio</th>
                        <th> Fecha Fin</th>
                        <th> Progreso</th>
                    </tr>                    
                </thead>
                <tbody>
                    <tr>
                        <td class="fase-nombre"><a href="#">Fase 1</a></td>
                        <td class="fec-ini"> dd/mm/yyyy</td>
                        <td class="fec-fin"> dd/mm/yyyy</td>
                        <td> 
                            <div class="progress-bar-td">
                                <div class="progress-bar">
                                    <div class="progress-bar-fill" id="progressbar"></div>
                                </div>  
                                <p>74%</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="fase-nombre"><a href="#">Fase 2</a></td>
                        <td class="fec-ini"> dd/mm/yyyy</td>
                        <td class="fec-fin"> dd/mm/yyyy</td>
                        <td> 
                            <div class="progress-bar-td">
                                <div class="progress-bar">
                                    <div class="progress-bar-fill" id="progressbar"></div>
                                </div>  
                                <p>10%</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="fase-nombre"><a href="#">Fase 3</a></td>
                        <td class="fec-ini"> dd/mm/yyyy</td>
                        <td class="fec-fin"> dd/mm/yyyy</td>
                        <td> 
                            <div class="progress-bar-td">
                                <div class="progress-bar">
                                    <div class="progress-bar-fill" id="progressbar"></div>
                                </div>  
                                <p>90%</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="fase-nombre"><a href="#">Fase 4</a></td>
                        <td class="fec-ini"> dd/mm/yyyy</td>
                        <td class="fec-fin"> dd/mm/yyyy</td>
                        <td> 
                            <div class="progress-bar-td">
                                <div class="progress-bar">
                                    <div class="progress-bar-fill" id="progressbar"></div>
                                </div>                                
                                <p>50%</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </main>
    <script src="../js/progressbar.js"></script>