<main id="catalogo-form-main">
    <h1> Crear Catálogo de Conceptos</h1>

    <div class="partida-form-data"> 
        <h2>Crear Partida</h2>
        <form id="partida-form" action="/pages/crear-partida/{{pr_id}}" method="post">
            <div class="reg-field">
                <input type="text" id="registro-Nombre-Partida" placeholder="Nombre de la partida" name="partida_nombre"><label for="registro-Nombre-Partida">Nombre de la partida</label>
            </div>
            <input type="submit" value="Crear" id="btn-registrar-partida">
        </form>
    </div>
</main>