<body>	
	<div id="not-index-div"> <!-- Parent -->

        <div id="index-div-bolitas">
            <div id="index-div-bolita"></div>
            <div id="index-div-bolita"></div>
            <div id="index-div-bolita"></div>
        </div>

		<div class="main-cont">
			<div class="Child"> <!-- Child -->
				<div id="not-index-div-h1">
					<h1>Proyectos</h1>
				</div>

				<div id="not-index-div-h2">
					<h2>Estos son algunos proyectos que hemos realizado</h2>
				</div>
			</div>

			<div class="Child"> 
				<div class="slideshow-container">

					<div class="mySlides fade">
						<div class="numbertext">1 / 5</div>
						<img src="../images/proyecto1-ejem.jpg">
						<div class="text"><span>Aeropuerto de Guadalajara</span></div>
					</div>
				
					<div class="mySlides fade">
						<div class="numbertext">2 / 5</div>
						<img src="../images/proyecto2-ejem.jpg">
						<div class="text"><span>Aeropuerto de Guadalajara</span></div>
					</div>
				
					<div class="mySlides fade">
						<div class="numbertext">3 / 5</div>
						<img src="../images/proyecto3-ejem.jpg">
						<div class="text"><span>Torre Stark</span></div>
					</div>

					<div class="mySlides fade">
						<div class="numbertext">4 / 5</div>
						<img src="../images/proyecto4-ejem.jpg">
						<div class="text"><span>Casas en Querétaro</span></div>
					</div>

					<div class="mySlides fade">
						<div class="numbertext">5 / 5</div>
						<img src="../images/proyecto5-ejem.jpg">
						<div class="text"><span>Casas en Mazatlán</span></div>
					</div>
				
					<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
					<a class="next" onclick="plusSlides(1)">&#10095;</a>
				</div>

				<br>
				
				<div class="texto-carr" style="text-align:center">
					<span class="dot" onclick="currentSlide(1)"></span>
					<span class="dot" onclick="currentSlide(2)"></span>
					<span class="dot" onclick="currentSlide(3)"></span>
					<span class="dot" onclick="currentSlide(4)"></span>
					<span class="dot" onclick="currentSlide(5)"></span>
				</div>
			</div>
		</div>

    </div>

	<script src="../js/carrusel.js"></script>
</body>
