    <div id="not-index-div">

        <div id="index-div-bolitas">
            <div id="index-div-bolita"></div>
            <div id="index-div-bolita"></div>
            <div id="index-div-bolita"></div>
        </div>

        <div class="Child-nos"> <!-- Child -->
			<div class="texto-nosotros">
				<div id="not-index-div-h1">
					<h1>Nosotros</h1>
				</div>

				<div id="not-index-div-h2">
					<!-- <h2></h2> -->
					<p>
						En GeoWess, nos apasiona hacer realidad tu proyecto de ensueño y ofrecer soluciones innovadoras y eficientes. Nuestro equipo de (un) profesional(es) altamente cualificados y dedicados, especializados en brindar servicios y soluciones informáticas para proyectos de construcción.
					</p>
					<br/>
					<p>
						Entendemos que cada organización es única y enfrenta desafíos específicos, por lo que nos comprometemos a ofrecer soluciones a medida que se adapten a sus necesidades individuales.
					</p>
				</div>
			</div>
			
			<div class="img-nosotros">
				<img src="../images/aboutusimage.png" alt="Nosotros">
			</div>
		</div>

    </div>

    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>