<main id="generar-estimacion-main">
        <h1> Generar Estimación</h1>

        <div class="proyecto-form-data"> 
            <p>Seleccione el día:</p>
            <form id="generar-estimacion-form" action="/pages/generar-estimacion/{{id}}" method="post">
                <div class="reg-field">
                    <input type="date" id="registro-FechaIni-Proyecto" placeholder="Fecha de Inicio" name="estimacion_fecha"><label for="registro-FechaIni-Proyecto">Fecha de Inicio</label>
                </div> 
                <input type="submit" value="Generar" id="btn-generar-estimacion-mensual">           
            </form>
        </div>

    </main>