    <main id="proyectos-main">
        <h1> Proyectos </h1>
        
        <a href="" id="crearP">Crear Proyecto</a>

        <div class="proyectos">
            <div class="tabla-proyectos">
                <table>
                    <thead>
                        <tr>
                            <th> Nombre</th>
                            <th> Fecha Inicio</th>
                            <th> Fecha Fin</th>
                            <th> Estatus</th>
                            <th> Costo Total</th>
                            <th> Editar </th>
                            <th> Eliminar</th>
                        </tr>                    
                    </thead>
                    <tbody>
                        <tr>
                            <td class="proyecto-nombre"><a href="#">Fase 1</a></td>
                            <td class="fec-ini"> dd/mm/yyyy</td>
                            <td class="fec-fin"> dd/mm/yyyy</td>
                            <td> Status</td>
                            <td> $ 0.00</td>
                            <td><a href=""><img src="../images/editar.png" alt="Editar Proyecto" class="edit-pr"></a></td>
                            <td><a href=""><img src="../images/delete.png" alt="Eliminar Proyecto" class="delete-pr"></a></td>                               
                            </td>
                        </tr>                        
                    </tbody>
                </table>
            </div>
           

        </div>

    </main>