
#profile-main {
    width: 75%;
    height: 700px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 20px;
    margin: 0 auto;
}

#profile-main h1 {
    font-size: var(--dashboard-h1-font-size);
    font-weight: var(--bold);
    color: var(--lr-title-color);
    margin: 20px 30px;
}

#profile-main form {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
}

.campos {
    width: 100%;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(400px, 1fr)
    );
}

.boton {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.reg-field {
    margin: 10% 30px;
    position: relative;
    width: 80%;
    height: auto;
}

.reg-field input {
    margin-bottom: 52px;
    border: none;
    border-bottom: 1px solid var(--p-color);
    background-color: unset;
    outline: none;
    width: 100%;
    font-family: var(--font-family);
    font-size: var(--lr-input-font-size);
    padding: 10px;
}

.reg-field label {
    position: absolute;
    left: 15px;
    color: var(--p-color);
    transform-origin:  0 0;
    transition: transform 0.2s ease-in-out;
}

input:focus + label, input:not(:placeholder-shown) + label{
    transform: translateY(-10px) scale(0.7);
}

input::placeholder {
    color: transparent;
}

#profile-main select{
    margin-bottom: 52px;
    border: none;
    background-color: var(--lr-select-bg-color);
    outline: none;
    width: 100%;
    height: auto;
    font-family: var(--font-family);
    font-size: var(--lr-input-font-size);
    padding: 10px;
}

.boton #btn-editar-usuario {
    width: 160px;
    height: 36px;
    background-color: var(--lr-button-color);
    border-radius: 50px;
    border: 0;

    font-family: var(--font-family);
    font-size: var(--lr-button-font-size);
    font-weight: var(--bold);
    font-style: normal;
    line-height: 23px;
    padding: 7px;

    transition:transform .3s ease-in-out, background-color .3s ease-in-out;
}

.boton #btn-editar-usuario:hover {
    background-color: var(--lr-button-hover-color);
    transform: scale(1.1);
}


#profile-anadir-main {
    width: 70%;
    height: fit-content;
    overflow: hidden;
    background-color: #fff;
    border-radius: 20px;
    margin: 0 auto;
}

#profile-anadir-main h1 {
    font-size: var(--dashboard-h1-font-size);
    font-weight: var(--bold);
    color: var(--lr-title-color);
    margin: 20px 30px;
}

#profile-anadir-main form {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
    margin: 0 auto;
}

#profile-anadir-main .campos {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#profile-anadir-main select {
    border: none;
    background-color: var(--lr-select-bg-color);
    outline: none;
    width: 100%;
    height: auto;
    font-family: var(--font-family);
    font-size: var(--lr-input-font-size);
    padding: 10px;
}

#profile-anadir-main .boton {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}


/*Responsiva*/

@media  screen and (max-width: 1280px){

    #profile-main {
        width: 80%;
        height: 700px;
        background-color: #fff;
        border-radius: 20px;
        margin: 0 auto;
    }

    #profile-main form{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow-y: scroll;
        scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
        scrollbar-width: thin;
        scrollbar-gutter: initial;
    }

    #profile-main .campos {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;  
        gap: 20px;      
    }

    #profile-main .boton {
        margin-top: 700px;
    }

    .reg-field {
        position: relative;
        width: 70%;
        height: auto;
        margin: 20px 0;
    }

    .reg-field input {
        border: none;
        border-bottom: 1px solid var(--p-color);
        background-color: unset;
        outline: none;
        width: 100%;
        font-family: var(--font-family);
        font-size: 15px;
        padding: 10px;
    }

    .reg-field label {
        position: absolute;
        left: 15px;
        color: var(--p-color);
        transform-origin:  0 0;
        transition: transform 0.2s ease-in-out;
    }

    input:focus + label, input:not(:placeholder-shown) + label{
        transform: translateY(-10px) scale(0.7);
    }

    input::placeholder {
        color: transparent;
    }

    #profile-anadir-main {
        width: 80%;
        height: fit-content;
        background-color: #fff;
        border-radius: 20px;
        margin: 0 auto;
    }

    #profile-anadir-main select{
        border: none;
        background-color: var(--lr-select-bg-color);
        outline: none;
        width: 100%;
        height: auto;
        font-family: var(--font-family);
        font-size: 15px;
        padding: 10px;
    }

    #profile-anadir-main .boton {
        margin-top: 10px;
    }

}