#avance-main {
    width: 90%;
    height: 750px;
    margin: auto;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
}

#avance-main h1 {
    margin-bottom: 20px;
}

.avance-conceptos-container {
    width: 95%;
    height: 80%;
    margin: auto;
    border-collapse: collapse;
}

.avance-conceptos-container form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    overflow-y: scroll;
    scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    scrollbar-gutter: initial;
}

.avance-conceptos-container table {
    width: 100%;
    height: 80%;
    border-collapse: collapse;
    background-color: #d9d9d9;
    border-radius: 10px;
    overflow: hidden;
}

.avance-conceptos-container thead{
    height: 50px;
    background-color: black;
    color: white;
}

.avance-conceptos-container thead th {
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    font-size: 17px;
    font-weight: var(--semibold);
    text-align: center;
    /* padding-left: 10px; */
}

.avance-conceptos-container .fase {
    background-color: #444343;
    color: #fff;
    height: 40px;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 800;
}

.avance-conceptos-container .partida {
    background-color: #a2a2a2;
    text-align: left;
    height: 30px;
    padding-left: 15px;
    font-size: 18px;
    font-weight: bold;
}

.avance-conceptos-container td{
    font-size: 15px;
    font-weight: var(--semibold);
    text-align: center;
    height: 40px;
    padding: 10px;
}

.avance-conceptos-container tbody {
    width: 100%;
    height: 100%;
}

.avance-conceptos-container table input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(214, 243, 255);
    font-size: 15px;
    font-weight: var(--semibold);
    text-align: center;
}

#btnGenerarAvance {
    width: 160px;
    height: 36px;
    background-color: var(--lr-button-color);
    border-radius: 50px;
    border: 0;
    margin-bottom: 20px;

    font-family: var(--font-family);
    font-size: var(--lr-button-font-size);
    font-weight: var(--bold);
    font-style: normal;
    line-height: 23px;
    padding: 7px;

    transition:transform .3s ease-in-out, background-color .3s ease-in-out;
}

#btnGenerarAvance:hover {
    background-color: var(--lr-button-hover-color);
    transform: scale(1.1);
}

.avance-conceptos-container .reg-field {
    position: relative;
    width: 200px;
    height: 30px;
    margin: 30px;
}

.avance-conceptos-container .reg-field input {
    border: none;
    border-bottom: 1px solid var(--p-color);
    background-color: unset;
    outline: none;
    width: 100%;
    font-family: var(--font-family);
    font-size: var(--lr-input-font-size);
}

.avance-conceptos-container .reg-field label {
    position: absolute;
    left: 15px;
    color: var(--p-color);
    transform-origin:  0 0;
    transition: transform 0.2s ease-in-out;
}

.avance-conceptos-container input:focus + label,.avance-conceptos-container input:not(:placeholder-shown) + label{
    transform: translateY(-10px) scale(0.7);
}

.avance-conceptos-container input::placeholder {
    color: transparent;
}