@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Variables*/

:root{

    /*Fuente*/
    --font-family: 'Be Vietnam Pro', sans-serif;

    /*Colores*/

    --bg-color-deg-1: #EEAECA;
    --bg-color-deg-2: #FFF9C5;
    --bg-color-deg-3: #B1A3E7;
    --bg-color-deg-4: #94BBE9;

    --p-color: #000000;
    --dashboard-div-bg-color: #d9d9d9;
    --login-register-bg-color: #fff;

    --notification-bg-color: #ff3434;
    --notification-color: #fff;

    --task-deco-stroke-color: #ffa5a5;
    --task-urgent-color: #ff3434;
	--task-limit-color: #777575;

    --startdate-color: #85a38a;
    --enddate-color: #ffa5a5;
    --progress-bar-color: #86ff4e;
    --progress-bar-bg-color: #d9d9d9;
    --progress-bar-stroke-color: #a3a3a3;

	--info-bg-color: #d9d9d9;

    --a-logged-color: rgb(50, 0, 144);

    /**Index*/
    --index-login-button-color: #000000;
    --index-register-button-color: #fafafa;
    --index-div-bg-color: #d9d9d9;

    /**Login y Registro*/
    --lr-button-color: #adffb5;
	--lr-button-hover-color: #21875f;
    --lr-a-color: #2548ff;
	--lr-select-bg-color: #d9d9d9;

    /*Tamaños*/

	--logo-font-size: 48px;
	--logo-width: 210px;
	--logo-height: 70px;
    --placeholder-font-size: 16px;

    /**Dashboard*/
	--dashboard-h1-font-size: 40px;
    --dashboard-h2-font-size: 32px;

    --task-font-size: 20px;
    --task-limit-font-size: 15px;

    --msg-chat-name-font-size: 16px;
    --msg-chat-msg-font-size: 14px;
    --msg-chat-role-font-size: 13px;
    --msg-chat-image-width-height: 60px;

	--proyecto-th-font-size: 24px;
	--proyecto-td-font-size: 16px;

    /**Index*/
    --index-h1-font-size: 64px;
	--index-icon-width-height:  50px;
	--index-nav-p-font-size: 24px;
	--index-login-button-font-size: 20px;

    /**Login y Registro*/
    --lr-h1-font-size: 36px;
    --lr-a-font-size: 16px;
    --lr-button-font-size: 16px;
    --lr-input-font-size: 16px;
    --lr-select-font-size: 16px;
	--lr-image-width-height: 512px;
	--lr-passwordeye-width-height: 24px;
	--lr-stroke-width: 5px;

	/**User-roles*/
	--ur-pillmode-width: 283px;
	--ur-height: 93px;
	--ur-fullmode-width: 694px;
	--ur-arrow-width-height: 32px;
	--ur-name-font-size: 16px;
	--ur-role-font-size: 13px;
	--ur-image-width-height: 60px;
	--ur-icons-width-height: 27px;

	/*Pesos*/
	--light: 300;
	--regular: 400;
	--semibold: 600;
	--bold: 700;
	--extrabold: 800;

}

/*General*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
	font-family: var(--font-family);
	position: relative;
	background: linear-gradient(127.28deg, var(--bg-color-deg-1) 4.06%, var(--bg-color-deg-2) 37.82%, var(--bg-color-deg-3) 58.79%, var(--bg-color-deg-4) 78.67%);
}

body {
    width: 100%;
    height: 80%;
    overflow: hidden;
}

/*Scroll*/
::-webkit-scrollbar {
    width: 11px;
    background-color: white;
}

::-webkit-scrollbar-button{
    display: none;
}

::-webkit-scrollbar:vertical {
    width: 11px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: none;
    background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:window-inactive{
    background: rgba(0, 0, 0, 0.0);
}

::-webkit-scrollbar-track {
    border-radius: 10px; 
    background-color: white; 
}

/* Titulo Con Back */
.titulo-back {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.titulo-back img {
    width: 30px;
    margin: auto 20px;
    transition: all .2s ease-in-out;
}

.titulo-back h1 {
    font-size: 35px;
    color: var(--p-color);
    margin: 30px;
}

.titulo-back img:hover {
    transform: scale(1.1);
    opacity: .8;
}