
#proyectos-main {
    margin: 27px 32px;
    height: 90%;
    min-height: 700px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 20px;
}

#proyectos-main h1 {
    font-size: var(--dashboard-h1-font-size);
    font-weight: var(--bold);
    color: var(--lr-title-color);
    margin: 27px 0 0 34px;
}

.proyectos {
    margin: 20px 31px 10px 34px;
    height: 72%;
    background-color: var(--info-bg-color);
    border-radius: 10px;
}

.proyectos table {
    width: 90%;
    height: 100%;
    margin:  auto;
    border-collapse: collapse;
}

.proyectos thead{
    height: 50px;
}

.proyectos thead tr{
    height: 20px;
}

.proyectos thead th {
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    font-size: var(--proyecto-th-font-size);
    font-weight: var(--semibold);
    text-align: center;
    /* padding-left: 10px; */
}

.proyectos tbody tr {
    height: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.proyectos td{
    font-size: var(--proyecto-td-font-size);
    font-weight: var(--semibold);
    text-align: center;
}

.proyectos tbody td {
    padding: 0;
    height: 20px;
}

.tabla-proyectos {
    height: 100%;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.tabla-proyectos tbody {
    height: 100%;
    overflow-y: scroll;
    scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    scrollbar-gutter: initial;
}

.proyecto-nombre a {
    color: var(--lr-title-color);
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.proyecto-nombre a:hover {
    opacity: 0.8;
    text-decoration: underline;
}

.tabla-proyectos .fec-ini {
    color: var(--startdate-color);
    margin: 0;
}

.tabla-proyectos .fec-fin {
    color: var(--enddate-color);
}

.proyectos tbody tr:last-child  {
    height: 20px;
    border-bottom: 0px solid rgba(0, 0, 0, .5);
}

#crearP {
    margin: 0 0 0 34px;
    width: fit-content;
    height: 10%;
    display: flex;
    align-items: center;

    text-decoration: none;
    font-weight: var(--bold);
    color: var(--a-logged-color);
    position: relative;
}

#crearP::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 20px;
    left: 0;
    background-color: var(--a-logged-color);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

#crearP:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

#crearP:hover {
    color: var(--a-logged-color);
}

.edit-pr {
    width: 30px;
    margin: 0 auto;
    cursor: pointer;
}

.delete-pr {
    width: 30px;
    margin: 0 auto;
    cursor: pointer;
}

.edit-pr:hover, .delete-pr:hover {
    opacity: 0.8;
}
