#proyecto-main {
    margin: 0 auto;
    width: 95%;
    height: 750px;
    min-height: 700px;
    background-color: #fff;
    border-radius: 20px;

    /* box-shadow: 1px 1px 57px -8px rgba(0,0,0,0.58);
    -webkit-box-shadow: 1px 1px 57px -8px rgba(0,0,0,0.58);
    -moz-box-shadow: 1px 1px 57px -8px rgba(0,0,0,0.58); */
}

.titulo-pr {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.titulo-pr  h1 {
    width: 70%;
    font-size: var(--dashboard-h1-font-size);
    font-weight: var(--bold);
    color: var(--lr-title-color);
    margin: 27px 0 0 34px;
}

.titulo-pr a {
    width: fit-content;
    position: relative;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: all .3s ease-in-out;
    text-align: center;
    margin: 45px auto auto 34px;
}

#proyecto-main .proyecto-detalles {
    margin: 10px 31px 10px 34px;
    width: auto;
    height: 110px;
    background-color: var(--info-bg-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

#proyecto-main .proyecto-detalles-info {
    align-self: center;
    margin: auto 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#proyecto-main .proyecto-detalles-info a {
    position: relative;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

#proyecto-main .proyecto-detalles-info a::before, .titulo-pr a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -7px;
    left: 0;
    background-color: var(--a-logged-color);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

#proyecto-main .proyecto-detalles-info a:hover:before, .titulo-pr a:hover:before {
	visibility: visible;
    transform: scaleX(1);
}

#proyecto-main .proyecto-detalles-ubicacion {
    width: fit-content;
    margin: auto 5%;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#proyecto-main .proyecto-detalles-ubicacion img {
    width: 24px;
    margin-left: 10px;
    transition: all .3s ease-in-out;
}

#proyecto-main .proyecto-detalles-ubicacion img:hover{
    transform: scale(1.1);
    opacity: 0.8;
}

.proyecto-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}

#proyecto-main .proyecto-fases {
    margin: 20px 31px 10px 34px;
    width: 60%;
    height: 450px;
    background-color: var(--info-bg-color);
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: "h2" "tabla";
}

#proyecto-main .proyecto-fases h2 {
    margin: 15px 0 19px 45px;
    font-size: var(--dashboard-h2-font-size);
    font-weight: var(--bold);
    grid-area: h2;
}

#proyecto-main .proyecto-fases table {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    grid-area: tabla;
}

#proyecto-main .proyecto-fases thead tr{
    height: 50px;
}

#proyecto-main .proyecto-fases thead th {
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    font-size: 1.2rem;
    font-weight: var(--semibold);
    text-align: center;
    padding: 0 10px;
}

#proyecto-main .proyecto-fases tbody {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

#proyecto-main .proyecto-fases tbody tr {
    height: 10px;
}

#proyecto-main .proyecto-fases td{
    font-size: var(--proyecto-td-font-size);
    font-weight: var(--regular);
    align-items: center; 
    text-align: center;
}

#proyecto-main .fase-nombre {
    width: 200px;
}

#proyecto-main .fec-ini {
    width: 140px;
    color: var(--startdate-color);
}

#proyecto-main .fec-fin {
    width: 140px;
    color: var(--enddate-color);
}

#proyecto-main .progress-bar-td {
    display: flex;
    flex-direction: row;
}

#proyecto-main .progress-bar {
    height: 20px;
    width: 100%;
    background-color: var(--progress-bar-bg-color);
    border: 3px solid var(--progress-bar-stroke-color);
    border-radius: 10px;
    margin: 0 10px;
    position: relative;
}

.progress-bar-td p {
    font-weight: var(--semibold);
}

#proyecto-main .progress-bar-fill {
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: var(--progress-bar-color);
    border-radius: 10px;
}

#cross {
    width: 22px;
    margin-left: 22px;
    transition: all .3s ease-in-out;
}

#cross:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

#genEstimacion {
    width: 22px;
    text-decoration: none;
    margin-left: 40px;
    transition: all .2s ease-in-out;
}

#genEstimacion:hover {
    opacity: 0.8;
}

.grafica-cont {
    margin: 20px 31px 31px 0;
    width: 40%;
    height: 450px;
    background-color: var(--info-bg-color);
    border-radius: 10px;
}

.grafica-cont h2 {
    font-size: var(--dashboard-h2-font-size);
    font-weight: var(--bold);
    text-align: center;
    margin-top: 15px;
}

.graf {
    width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.proyecto-container .imgs {
    width: 50px;
}

.proyecto-container img {
    width: 30px;
    margin-left: 10px;
    object-fit: cover;
    transition: all .3s ease-in-out;
}

.proyecto-container img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.proyecto-container .cc {
    width: 30px;
    margin-left: 10px;
    transition: all .3s ease-in-out;
}

.proyecto-container .cc:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

/*Responsive*/

@media screen and (max-width: 1238px){

    #proyecto-main {
        width: 90%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 20px;
    }

    #proyecto-main .proyecto-detalles-info{
        margin-top: 10px 10px;
    }

    #proyecto-main .proyecto-fases h2, #proyecto-main .grafica-cont h2 {
        font-size: 1.5rem;
    }

    #proyecto-main .proyecto-fases thead th  {
        font-size: 1.2rem;
    }

    #proyecto-main .proyecto-fases {
        width: 100%;
        height: 420px;
    }

    #proyecto-main .proyecto-fases tbody tr {
        height: 20px;
    }

    #proyecto-main .pb {
        display: none;
    }

    .grafica-cont{
        display: none;
    }
}