#partidas-vista-main {
    width: 90%;
    height: 700px;
    margin: 0 auto;
}

#partidas-vista-main table {
    width: 90%;
    height: 100%;
    margin: auto;
    border-collapse: collapse;
}

#partidas-vista-main thead{
    height: 50px;
}

#partidas-vista-main thead th {
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    font-size: var(--proyecto-th-font-size);
    font-weight: var(--semibold);
    text-align: center;
    /* padding-left: 10px; */
}

#partidas-vista-main td{
    font-size: var(--proyecto-td-font-size);
    font-weight: var(--semibold);
    text-align: center;
    height: 40px;
    padding: 10px;
}

#partidas-vista-main tbody {
    height: 100%;
    overflow-y: scroll;
    scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    scrollbar-gutter: initial;
}

#partidas-vista-main table img {
    width: 20px;
    transition: all .3s ease-in-out;
}

#partidas-vista-main table img:hover {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.2);
}

#verC {
    width: fit-content;
    display: flex;
    margin: 0 auto;

    text-decoration: none;
    font-weight: var(--bold);
    color: var(--a-logged-color);
    
    position: relative;
}

#verC::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -5px;
    background-color: var(--a-logged-color);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

#verC:hover::before {
    visibility: visible;
    transform: scaleX(1);
}
