<nav id="index-nav">

        <a href="/" id="logo">
            <img src="/images/GWlogo.png" alt="GeoWess"/>
        </a>

        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/proyectos-ejemplos">Proyectos</a></li>
            <li><a href="/nosotros">Nosotros</a></li>            	
        </ul>

        <a href="/signin" id="btn-login">Iniciar Sesión</a>

</nav>