<div class="navigation-cont">    
    <div class="nav-bar" id="nav-bar">

        <div class="user-info">
            <div class="user-img">
               <a href="../../usuario/editar-perfil/{{user.us_ID}}"><img src="/images/profile.png" alt="user"></a>
            </div>
            <div class="info">
                <div class="user-name"><p>{{user.us_Nombre}} {{user.us_ApPaterno}}</p></div>
                <div class="user-rol"><p>
                    <script>
                        function getRol(rol){
                            switch(rol){
                                case 0:
                                    return "Administrador";
                                case 1:
                                    return "Supervisor";
                                case 2:
                                    return "Superintendente";
                                case 3:
                                    return "Residente";
                                case 4:
                                    return "Contratista";
                                case 5:
                                    return "Contratante";
                                case 6:
                                    return "Representante Legal";
                                default:
                                    return "Usuario";
                            }
                        }
                        document.write(getRol({{user.us_Tipo}}));
                    </script>
                </p></div>
            </div>            
        </div>

        <div class="menu-icons" id="menu-icons">
            <ul>
                <li><a href="/profile"><img src="/images/boton-de-inicio-para-la-interfaz.png" alt="Inicio"></a></li>
                <li><a href="/docs"><img src="/images/document.png" alt="Tareas"></a></li>
                <li><a href="/proyectos"><img src="/images/puesta-en-marcha.png" alt="Proyectos"></a></li>

                <li><a href="/logout"><img src="/images/logout.png" alt="Cerrar Sesión"></a></li>
            </ul>
        </div>

        <div class="arrow">
            <img src="/images/down-arrow.png" alt="arrow" id="arrow">
        </div>
    </div>

    <div class="datetime-container">
        <div class="date">
            <span id="date">
                <script>
                    var d = new Date();
                    var weekday = new Array(7);
                    weekday[0] = "Domingo";
                    weekday[1] = "Lunes";
                    weekday[2] = "Martes";
                    weekday[3] = "Miércoles";
                    weekday[4] = "Jueves";
                    weekday[5] = "Viernes";
                    weekday[6] = "Sábado";

                    var months = new Array(12);
                    months[0] = "Enero";
                    months[1] = "Febrero";
                    months[2] = "Marzo";
                    months[3] = "Abril";
                    months[4] = "Mayo";
                    months[5] = "Junio";
                    months[6] = "Julio";
                    months[7] = "Agosto";
                    months[8] = "Septiembre";
                    months[9] = "Octubre";
                    months[10] = "Noviembre";
                    months[11] = "Diciembre";

                    var n = weekday[d.getDay()];
                    var m = months[d.getMonth()];
                    document.getElementById("date").innerHTML =  n + ", " + d.getDate() + " de " + m;
                </script>
            </span>
        </div>
        <div class="time">
            <span id="time">
                <script>
                    function startTime() {
                        var today = new Date();
                        var h = today.getHours();
                        var m = today.getMinutes();
                        var s = today.getSeconds();
                        var ampm;

                        if (h > 12){
                            h = h - 12;
                            ampm = "PM";
                        } else {
                            ampm = "AM";
                        }

                        // add a zero in front of numbers<10
                        m = checkTime(m);
                        s = checkTime(s);
                        document.getElementById('time').innerHTML =
                        h + ":" + m + ":" + s + " " + ampm;
                        var t = setTimeout(startTime, 500);
                    }
                    function checkTime(i) {
                        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
                        return i;
                    }
                    startTime();
                </script>
            </span>
        </div>
    </div>
</div>