    <div class="nav-bar" id="nav-bar">

        <div class="user-info">
            <div class="user-img">
                <img src="../images/profile.png" alt="user">
            </div>
            <div class="info">
                <div class="user-name"><p>Nombre de usuario</p></div>
                <div class="user-rol"><p>Rol</p></div>
            </div>            
        </div>

        <div class="menu-icons" id="menu-icons">
            <ul>
                <li><a href="#"><img src="../images/boton-de-inicio-para-la-interfaz.png" alt="Inicio"></a></li>
                <li><a href="#"><img src="../images/to-do-list.png" alt="Tareas"></a></li>
                <li><a href="#"><img src="../images/puesta-en-marcha.png" alt="Proyectos"></a></li>
                <li><a href="#"><img src="../images/logout.png" alt="Cerrar Sesión"></a></li>
            </ul>
        </div>

        <div class="arrow">
            <img src="../images/down-arrow.png" alt="arrow" id="arrow">
        </div>

    </div>