<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoWess</title>

    <!--Estilos-->
    <link rel="stylesheet" type = "text/css" href="/css/index.css">
    <link rel="stylesheet" type = "text/css" href="/css/main.css">
    <link rel="stylesheet" type = "text/css" href="/css/menu.css">
    <link rel="stylesheet" type = "text/css" href="/css/proyecto.css">
    <link rel="stylesheet" type = "text/css" href="/css/catalogo-vista.css">
    <link rel="stylesheet" type = "text/css" href="/css/dashboard.css">
    <link rel="stylesheet" type = "text/css" href="/css/proyecto-form.css">
    <link rel="stylesheet" type = "text/css" href="/css/fase-vista.css">
    <link rel="stylesheet" type = "text/css" href="/css/genestimacion.css">
    <link rel="stylesheet" type = "text/css" href="/css/tareas-vista.css">
    <link rel="stylesheet" type = "text/css" href="/css/fase-form.css">
    <link rel="stylesheet" type = "text/css" href="/css/proyectos-vista.css">
    <link rel="stylesheet" type = "text/css" href="/css/login.css">
    <link rel="stylesheet" type = "text/css" href="/css/registro.css">
    <link rel="stylesheet" type = "text/css" href="/css/editar-usuario.css">
    <link rel="stylesheet" type = "text/css" href="/css/vista-partida.css">
    <link rel="stylesheet" type = "text/css" href="/css/conceptos-vista.css">
    <link rel="stylesheet" type = "text/css" href="/css/crear-partida.css">
    <link rel="stylesheet" type = "text/css" href="/css/index-docs.css">
    <link rel="stylesheet" type = "text/css" href="/css/solicitar.css">

</head>
<body>

    {{> navigation}}

    {{{body}}}

    {{> message}}
    
    <script src="/js/menu.js"></script>
</body>
</html>