<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Catalogo de Conceptos</title>
    <!-- 
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/template-catalogo.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/main.css"> -->
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/template-estimacion.css">
</head>

<body style="
            font-family: Be Vietnam Pro, sans-serif;
            width: 100%;
            height: 80%;
            overflow: hidden;">

    <div class="titulo" style="
                                width: 100%;
                                height: fit-content;
                                display: flex;
                                flex-direction: column;">
        <img src="http://localhost:3000/images/GWlogo.png" style=" 
            width: 210px;
            align-self: left;
            margin: 20px 0 10px 30px;
            " alt="Logo" class="logo" />
        <h1 style=" font-size: 32px;
                    font-weight: 600;
                    font-style: normal;
                    text-align: center;
                    margin-bottom: 5px;">
            Estimación de {{catalogo.mes}} de {{catalogo.year}}
        </h1>
        <h2 style=" font-size: 16px; 
                    font-weight: 200;
                    text-align: center;
                    margin-bottom: 30px;
        ">
            Proyecto: {{project.pr_Nombre}}
        </h2>
    </div>


    <!-- Es una tabla donde se  -->
    <div class="tabla-conceptos" style="    
            width: 100%;
            height: 100%;
            background-color: #fff;">
        <table>
            <thead>
                <tr>
                    <th>Clave</th>
                    <th>Concepto</th>
                    <th>Unidad</th>
                    <th>Cantidad<br>(Ese mes)</th>
                    <th>Precio Unitario</th>
                    <th>Importe</th>
                </tr>
            </thead>
            <tbody>

                {{#each catalogo.fases}}
                    <tr>
                        <td colspan="6" class="fase">{{fp_Nombre}}</td>
                    </tr>
                    {{#each this.partidas}}
                    <tr>
                        <td colspan="6" class="partida">{{pt_Nombre}}</td>
                    </tr>

                    {{#each this.conceptos}}
                    <tr>
                        <td class="concepto">{{cp_Clave}}</td>
                        <td class="concepto">{{cp_Nombre}}</td>
                        <td class="concepto">{{cp_Unidad}}</td>
                        <td class="concepto">{{cp_Cantidad}}</td>
                        <td class="concepto">$ {{cp_PrecioUnitario}}</td>
                        <td class="concepto">$ {{cp_Importe}}</td>
                    </tr>
                    {{/each}}

                    {{/each}}
                {{/each}}
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="4"></td>
                    <td class="totals tit">Importe de Contrato</td>
                    <td class="totals">$ {{catalogo.estimacion.es_ImporteContrato}}</td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <td class="totals tit">Neto A Recibir</td>
                    <td class="totals">$ {{catalogo.estimacion.es_NetoARecibir}}</td>
                </tr>
            </tfoot>
        </table>
    </div>

</body>

</html>