<main id="recuperar-main">
        <a href="/" id="logo">
            <img src="./images/logo.png" alt="GeoWess"/>
        </a>

        <div class="rec-container">
            <div class="rec-form">
                <h1>Olvidaste tu Contrase単a?</h1>
                <form id="recuperar-form" action="/nueva-contrasena/{{id}}" method="POST">     
                    <p>Introduce la nueva contrase単a</p>

                    <div class="rec-field">
                        <input type="text" id="nueva-Pass" placeholder="Contrase単a" name="nueva_Contrasena"><label for="nueva-Pass">Contrase単a</label>
                    </div>

                    <input type="submit" value="Cambiar" id="btn-recuperar">
                </form>
            </div>
        </div>

</main>