<main id="recuperar-main">
        <a href="/" id="logo">
            <img src="./images/logo.png" alt="GeoWess"/>
        </a>

        <div class="rec-container">
            <div class="rec-form">
                <h1>Olvidaste tu Contraseña?</h1>
                <form id="recuperar-form" action="/recuperar-contrasena" method="POST">     
                    <p>Introduce el correo con que registraste</p>

                    <div class="rec-field">
                        <input type="text" id="recuperar-Correo" placeholder="Correo Electrónico" name="recuperar_Correo"><label for="recuperar-Correo">Correo Electrónico</label>
                    </div>

                    <input type="submit" value="Recuperar" id="btn-recuperar">
                </form>
            </div>
        </div>

</main>