<main id="proyect-form-main">
    <h1> Nuevo Proyecto </h1>
    <form action="/proyecto/crear-proyecto" method="POST">
        <div class="proyecto-form-data"> 
            
                <div class="reg-field">
                    <input type="text" id="registro-Nombre-Proyecto" placeholder="Nombre del Proyecto" name="nombre_proyecto"><label for="registro-Nombre-Proyecto">Nombre del Proyecto</label>
                </div>
                <div class="reg-field">
                    <input type="date" id="registro-FechaIni-Proyecto" placeholder="Fecha de Inicio" name="fechainicio_proyecto"><label for="registro-FechaIni-Proyecto">Fecha de Inicio</label>
                </div>
                <div class="reg-field">
                    <input type="date" id="registro-FechaFin-Proyecto" placeholder="Fecha de Fin" name="fechafin_proyecto"><label for="registro-FechaFin-Proyecto">Fecha de Fin</label>
                </div>          
        </div>

        <div class="proyecto-form-ubicacion">
            <h2>Ubicación</h2>
            <div class="proyecto-form-ubicacion-data">
                <div class="reg-field">
                    <input type="text" id="registro-Direccion-Proyecto" placeholder="Dirección" name="direccion_proyecto"><label for="registro-Direccion-Proyecto">Dirección</label>
                </div>
                <div class="reg-field">
                    <input type="text" id="registro-Ciudad-Proyecto" placeholder="Ciudad" name="ciudad_proyecto"><label for="registro-Ciudad-Proyecto">Ciudad</label>
                </div>
                <div class="reg-field">
                    <input type="text" id="registro-Estado-Proyecto" placeholder="Estad/Provincia" name="estado_proyecto"><label for="registro-Estado-Proyecto">Estado/Provincia</label>
                </div>
                <div class="reg-field">
                    <input type="text" id="registro-País-Proyecto" placeholder="País" name="pais_proyecto"><label for="registro-País-Proyecto">País</label>
                </div>
                <div class="reg-field">
                    <input type="text" id="registro-CP-Proyecto" placeholder="Código Postal" name="cp_proyecto"><label for="registro-CP-Proyecto">Código Postal</label>
                </div>
                <input type="submit" value="Registrar" id="btn-registrar-proyecto">
                <!--Este botón nos direcciona a crear un catalogo de conceptos-->     
            </div>
        </div>
    </form>

</main>